{% load static %} {% for comment in comments_list %}
<tr class="athing comtr" id={{ comment.comment_id }}>
	<td>
		<table border="0">
			<tr>
				<td class="ind" indent="0"><img src="s.gif" height="1" width={{ idx }} /></td>
				<td valign="top" class="votelinks">
					<center>
						<a id="up_30983757" class="clicky" href="vote?id=30983757&amp;how=up&amp;auth=a6b1&apm;goto=threads%3Fid%3Dchizhik-pyzhik#30983757">
							<div class="votearrow" title="upvote"></div>
						</a>
					</center>
				</td>
				<td class="default">
					<div style="margin-top: 2px; margin-bottom: -10px">
						<span class="comhead">
							<a href="{% url 'user' comment.author.username %}" class="hnuser">{{ comment.author.username }}</a>
							<span class="age" title={{ comment.posted_at_date }}
								><a href="item?id=30983757">{{ comment.age }}</a></span
							>
							<span id="unv_30983269"></span>	
							<span class="navs">
								{% if idx >= 40 %}
								| <a href="#{{ comment.get_root }}" class="clicky" aria-hidden="true"> root</a>
								{% endif %}
								{% if forloop.counter == 0 %}
								| <a href="item?id=30983269">parent</a> 
								{% else %}
								| <a href="item?id=30983269" class="cliky" aria-hidden="true">parent</a> 
								{% endif %}
								{% if idx == 0 %}
								| <a href="context" rel="nofollow"> context</a>
								{% endif %}
								{% if forloop.counter != 1 %}
								| <a href="prev" class="cliky" aria-hidden="true">prev</a>
								{% endif %}
								| <a href="#30902466" class="cliky" aria-hidden="true">next</a> 
							</span>
							<a class="togg clicky" id="30983757" n="2" href="javascript:void(0)">[-]</a>	
							{% if idx == 0 %}
							<span class="onstory"> | on: <a href="item?id=30983269">{{ comment.submission.title }}</a> </span>
							{% endif %}
						</span>
					</div>
					<br />
					<div class="comment">
						<span class="commtext c00">
							{{ comment.text }}
						</span>
						<div class="reply">
							<p>
								<font size="1">
									<u><a href="reply?id=30983757&amp;goto=threads%3Fid%3Dchizhik-pyzhik%2330983757">reply</a></u>
								</font>
							</p>
						</div>		
					</div>
				</td>
			</tr>
		</table>
		{% include "comment.html" with comments_list=comment.children.all idx=idx|add:20 %}
	</td>
</tr>
{% endfor %}
