{% load static %}
<html lang="en" op="favorites">
	<head>
		<meta name="referrer" content="origin" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}" />
		<link rel="shortcut icon" href="favicon.ico" />
		<title>MakisH&#x27;s favorites | Hacker News</title>
	</head>
	<body>
		<center>
			<table
				id="hnmain"
				border="0"
				cellpadding="0"
				cellspacing="0"
				width="85%"
				bgcolor="#f6f6ef"
			>
				<tr>
					<td bgcolor="#ff6600">
						<table
							border="0"
							cellpadding="0"
							cellspacing="0"
							width="100%"
							style="padding: 2px"
						>
							<tr>
								<td style="width: 18px; padding-right: 4px">
									<a href="https://news.ycombinator.com"
										><img
											src="/static/gif/y18.gif"
											width="18"
											height="18"
											style="border: 1px white solid"
									/></a>
								</td>
								<td style="line-height: 12pt; height: 10px">
									<span class="pagetop">
										<b class="hnname"><a href="news">Hacker News</a></b>
										<a href="newswelcome.html">welcome</a> |
										<a href="newest">new</a> |
										<a href="threads?id=rguixaro">threads</a> |
										<a href="front">past</a> |
										<a href="newcomments">comments</a> | <a href="ask">ask</a> |
										<a href="show">show</a> | <a href="jobs">jobs</a> |
										<a href="submit">submit</a> |
										<font color="#ffffff">{{ user.username }} favorites</font>
									</span>
								</td>
								<td style="text-align: right; padding-right: 4px">
									<span class="pagetop">
										<a id="me" href="user?id=rguixaro">rguixaro</a>
										<span id="karma">({{ user.karma }})</span> |
										<a
											id="logout"
											href="logout?auth=51f8c506bb11bff38a0dd6629fb3db0521534dca&amp;goto=favorites%3Fid%3DMakisH"
											>logout</a
										>
									</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr
					id="pagespace"
					title="{{ user.username }}&#x27;s favorites"
					style="height: 10px"
				></tr>
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0" class="itemlist">
							<tr style="height: 6px"></tr>
							<tr>
								<td colspan="2">&nbsp;&nbsp;&nbsp;</td>
								<td>
									<a href="favorites?id=MakisH">submissions</a> |
									<a href="favorites?id=MakisH&amp;comments=t">comments</a>
									<p>
										{{ user.username }} hasn't added any favorite submissions
										yet.
									</p>
									<p>
										To add one to your own favorites, click on its timestamp to
										go to its page, then click 'favorite' at the top.
									</p>
								</td>
							</tr>
							<tr style="height: 12px"></tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<img src="s.gif" height="10" width="0" />
						<table width="100%" cellspacing="0" cellpadding="1">
							<tr>
								<td bgcolor="#ff6600"></td>
							</tr>
						</table>
						<br />
						<center>
							<a href="https://www.ycombinator.com/apply/">
								Applications are open for YC Summer 2022
							</a>
						</center>
						<br />
						<center>
							<span class="yclinks">
								<a href="newsguidelines.html">Guidelines</a> |
								<a href="newsfaq.html">FAQ</a> | <a href="lists">Lists</a> |
								<a href="https://github.com/HackerNews/API">API</a> |
								<a href="security.html">Security</a> |
								<a href="http://www.ycombinator.com/legal/">Legal</a> |
								<a href="http://www.ycombinator.com/apply/">Apply to YC</a> |
								<a href="mailto:hn@ycombinator.com">Contact</a>
							</span>
							<br />
							<br />
							<form method="get" action="//hn.algolia.com/">
								Search:
								<input
									type="text"
									name="q"
									value=""
									size="17"
									autocorrect="off"
									spellcheck="false"
									autocapitalize="off"
									autocomplete="false"
								/>
							</form>
						</center>
					</td>
				</tr>
			</table>
		</center>
	</body>
	<script type="text/javascript" src="hn.js?i4TQZuXi2HAlGL9DtNAH"></script>
</html>
