{% load static %}
<html lang="en" op="news">
	<head>
		<meta name="referrer" content="origin" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/news.css' %}" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="alternate" type="application/rss+xml" title="RSS" href="rss" />
		<title>Hacker News</title>
	</head>
	<body>
		<center>
			<table
				id="hnmain"
				border="0"
				cellpadding="0"
				cellspacing="0"
				width="85%"
				bgcolor="#f6f6ef"
			>
				<tr>
					<td bgcolor="#ff6600">
						<table
							border="0"
							cellpadding="0"
							cellspacing="0"
							width="100%"
							style="padding: 2px"
						>
							<tr>
								<td style="width: 18px; padding-right: 4px">
									<a href="https://news.ycombinator.com"
										><img
											src="y18.gif"
											width="18"
											height="18"
											style="border: 1px white solid"
									/></a>
								</td>
								<td style="line-height: 12pt; height: 10px">
									<span class="pagetop">
										<b class="hnname"><a href="news">Hacker News</a></b>
										<a href="newest">new</a> | <a href="front">past</a> |
										<a href="newcomments">comments</a> | <a href="ask">ask</a> |
										<a href="show">show</a> | <a href="jobs">jobs</a> |
										<a href="submit">submit</a>
									</span>
								</td>
								<td style="text-align: right; padding-right: 4px">
									<span class="pagetop">
										<a href="login?goto=news">login</a>
									</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr id="pagespace" title="" style="height: 10px"></tr>
				<tr>
					<td>
                        <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                            {% if submissions_list %}
                            <tr>
                                {% for submission in submissions_list %}
                                    <td align="right" valign="top" class="title">
                                        <span class="rank">{{forloop.counter}}. </span>
                                    </td>
                                    <td valign="top" class="votelinks">
                                            <a
                                                id="up_30784939"
                                                href="vote?id=30784939&amp;how=up&amp;goto=news"
                                                >
                                                <div class="votearrow" title="upvote">-</div
                                            ></a>
                                    </td>
                                    <td class="title">
    									<a
										    href="{{submission.url}}"
										    class="titlelink"
										    >{{submission.title}}</a
									    >
									    <span class="sitebit comhead">
    										(<a href="https://www.{{submission.url}}"
											    ><span class="sitestr">{{submission.url_domain}}</span></a
										    >)
									    </span>
								    </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td class="subtext">
                                            <span class="score" id="score_30784939">{{submission.points}} points </span> by
                                            <a href="user?id={{submission.author}}">{{submission.author}}</a>
                                            <span class="age" title="2022-03-23T23:36:00">
                                                <a href="item?id=30784939">{{submission.age}} hours ago</a>
                                            </span>|
                                            <a href="hide?id=30784939&amp;goto=news">hide</a>|
                                            <a href="item?id=30784939">{{submission.comments}}&nbsp;comments</a>
                                        </td>
                                    </tr>
                                <tr class="spacer" style="height: 5px"></tr>
                                {% endfor %}
                            </tr>
                            {% else %}
                            <p>No submissions available.</p>
                            {% endif %}

							<tr class="athing" id="30784939">
								<td align="right" valign="top" class="title">
									<span class="rank">1.</span>
								</td>
								<td valign="top" class="votelinks">
									<center>
										<a
											id="up_30784939"
											href="vote?id=30784939&amp;how=up&amp;goto=news"
											><div class="votearrow" title="upvote"></div
										></a>
									</center>
								</td>
								<td class="title">
									<a
										href="https://danlebrero.com/2022/03/23/but-life-had-other-plans/"
										class="titlelink"
										>But life had other plans</a
									>
									<span class="sitebit comhead">
										(<a href="from?site=danlebrero.com"
											><span class="sitestr">danlebrero.com</span></a
										>)
									</span>
								</td>
							</tr>
							<tr>
								<td colspan="2"></td>
								<td class="subtext">
									<span class="score" id="score_30784939">661 points</span> by
									<a href="user?id=JBiserkov" class="hnuser">JBiserkov</a>
									<span class="age" title="2022-03-23T23:36:00"
										><a href="item?id=30784939">7 hours ago</a></span
									>
									<span id="unv_30784939"></span> |
									<a href="hide?id=30784939&amp;goto=news">hide</a> |
									<a href="item?id=30784939">71&nbsp;comments</a>
								</td>
							</tr>
							<tr class="spacer" style="height: 5px"></tr>
							<tr class="athing" id="30781536">
								<td align="right" valign="top" class="title">
									<span class="rank">2.</span>
								</td>
								<td valign="top" class="votelinks">
									<center>
										<a
											id="up_30781536"
											href="vote?id=30781536&amp;how=up&amp;goto=news"
											><div class="votearrow" title="upvote"></div
										></a>
									</center>
								</td>
								<td class="title">
									<a
										href="https://rohanrd.xyz/posts/why-you-should-start-self-hosting/"
										class="titlelink"
										>Start Self Hosting</a
									>
									<span class="sitebit comhead">
										(<a href="from?site=rohanrd.xyz"
											><span class="sitestr">rohanrd.xyz</span></a
										>)
									</span>
								</td>
							</tr>
							<tr>
								<td colspan="2"></td>
								<td class="subtext">
									<span class="score" id="score_30781536">765 points</span> by
									<a href="user?id=quaintdev" class="hnuser">quaintdev</a>
									<span class="age" title="2022-03-23T18:16:24"
										><a href="item?id=30781536">12 hours ago</a></span
									>
									<span id="unv_30781536"></span> |
									<a href="hide?id=30781536&amp;goto=news">hide</a> |
									<a href="item?id=30781536">428&nbsp;comments</a>
								</td>
							</tr>
							<tr class="spacer" style="height: 5px"></tr>
							<tr class="athing" id="30760850">
								<td align="right" valign="top" class="title">
									<span class="rank">3.</span>
								</td>
								<td valign="top" class="votelinks">
									<center>
										<a
											id="up_30760850"
											href="vote?id=30760850&amp;how=up&amp;goto=news"
											><div class="votearrow" title="upvote"></div
										></a>
									</center>
								</td>
								<td class="title">
									<a href="https://www.hamrick.com/" class="titlelink"
										>Vuescan – Software support for 6500 abandoned scanners</a
									>
									<span class="sitebit comhead">
										(<a href="from?site=hamrick.com"
											><span class="sitestr">hamrick.com</span></a
										>)
									</span>
								</td>
							</tr>
							<tr>
								<td colspan="2"></td>
								<td class="subtext">
									<span class="score" id="score_30760850">50 points</span> by
									<a href="user?id=unixhero" class="hnuser">unixhero</a>
									<span class="age" title="2022-03-21T22:59:39"
										><a href="item?id=30760850">3 hours ago</a></span
									>
									<span id="unv_30760850"></span> |
									<a href="hide?id=30760850&amp;goto=news">hide</a> |
									<a href="item?id=30760850">22&nbsp;comments</a>
								</td>
							</tr>
							<tr class="spacer" style="height: 5px"></tr>
							<tr class="athing" id="30786649">
								<td align="right" valign="top" class="title">
									<span class="rank">4.</span>
								</td>
								<td valign="top" class="votelinks">
									<center>
										<a
											id="up_30786649"
											href="vote?id=30786649&amp;how=up&amp;goto=news"
											><div class="votearrow" title="upvote"></div
										></a>
									</center>
								</td>
								<td class="title">
									<a
										href="https://www.megiefuneralhome.com/obituaries/Stephen-E.-Wilhite?obId=24311617#"
										class="titlelink"
										>Stephen E. Wilhite has died</a
									>
									<span class="sitebit comhead">
										(<a href="from?site=megiefuneralhome.com"
											><span class="sitestr">megiefuneralhome.com</span></a
										>)
									</span>
								</td>
							</tr>
							<tr>
								<td colspan="2"></td>
								<td class="subtext">
									<span class="score" id="score_30786649">19 points</span> by
									<a href="user?id=Shared404" class="hnuser">Shared404</a>
									<span class="age" title="2022-03-24T05:37:34"
										><a href="item?id=30786649">1 hour ago</a></span
									>
									<span id="unv_30786649"></span> |
									<a href="hide?id=30786649&amp;goto=news">hide</a> |
									<a href="item?id=30786649">3&nbsp;comments</a>
								</td>
							</tr>
							<tr class="spacer" style="height: 5px"></tr>
							<tr class="athing" id="30785646">
								<td align="right" valign="top" class="title">
									<span class="rank">5.</span>
								</td>
								<td valign="top" class="votelinks">
									<center>
										<a
											id="up_30785646"
											href="vote?id=30785646&amp;how=up&amp;goto=news"
											><div class="votearrow" title="upvote"></div
										></a>
									</center>
								</td>
								<td class="title">
									<a
										href="https://spacedoutandsmiling.com/blog/2021-12-27-nerdy-aws-graviton-vs-m1-vs-m1-pro-nodejsr-benchmarks"
										class="titlelink"
										>AWS Graviton vs. M1 vs. M1 Pro Node.js Benchmarks</a
									>
									<span class="sitebit comhead">
										(<a href="from?site=spacedoutandsmiling.com"
											><span class="sitestr">spacedoutandsmiling.com</span></a
										>)
									</span>
								</td>
							</tr>
							<tr>
								<td colspan="2"></td>
								<td class="subtext">
									<span class="score" id="score_30785646">99 points</span> by
									<a href="user?id=nreece" class="hnuser">nreece</a>
									<span class="age" title="2022-03-24T01:49:25"
										><a href="item?id=30785646">5 hours ago</a></span
									>
									<span id="unv_30785646"></span> |
									<a href="hide?id=30785646&amp;goto=news">hide</a> |
									<a href="item?id=30785646">93&nbsp;comments</a>
								</td>
							</tr>
							<tr class="spacer" style="height: 5px"></tr>
							<tr class="athing" id="30787009">
								<td align="right" valign="top" class="title">
									<span class="rank">6.</span>
								</td>
								<td></td>
								<td class="title">
									<a
										href="https://manara.breezy.hr/p/1cebbb12d138-full-stack-javascript-engineer"
										class="titlelink"
										rel="nofollow"
										>Manara (YC W21) Is Hiring a Full Slack Engineer</a
									>
									<span class="sitebit comhead">
										(<a href="from?site=breezy.hr"
											><span class="sitestr">breezy.hr</span></a
										>)
									</span>
								</td>
							</tr>
							<tr>
								<td colspan="2"></td>
								<td class="subtext">
									<span class="age" title="2022-03-24T07:00:18"
										><a href="item?id=30787009">7 minutes ago</a></span
									>
									| <a href="hide?id=30787009&amp;goto=news">hide</a>
								</td>
							</tr>
							<tr class="spacer" style="height: 5px"></tr>
							<tr class="athing" id="30782735">
								<td align="right" valign="top" class="title">
									<span class="rank">7.</span>
								</td>
								<td valign="top" class="votelinks">
									<center>
										<a
											id="up_30782735"
											href="vote?id=30782735&amp;how=up&amp;goto=news"
											><div class="votearrow" title="upvote"></div
										></a>
									</center>
								</td>
								<td class="title">
									<a
										href="https://newsroom.spotify.com/2022-03-23/spotify-and-google-announce-user-choice-billing/"
										class="titlelink"
										>Spotify and Google Announce User Choice Billing</a
									>
									<span class="sitebit comhead">
										(<a href="from?site=spotify.com"
											><span class="sitestr">spotify.com</span></a
										>)
									</span>
								</td>
							</tr>
							<tr>
								<td colspan="2"></td>
								<td class="subtext">
									<span class="score" id="score_30782735">361 points</span> by
									<a href="user?id=laminarflow" class="hnuser">laminarflow</a>
									<span class="age" title="2022-03-23T20:11:49"
										><a href="item?id=30782735">10 hours ago</a></span
									>
									<span id="unv_30782735"></span> |
									<a href="hide?id=30782735&amp;goto=news">hide</a> |
									<a href="item?id=30782735">310&nbsp;comments</a>
								</td>
							</tr>
							<tr class="spacer" style="height: 5px"></tr>
							<tr class="athing" id="30785370">
								<td align="right" valign="top" class="title">
									<span class="rank">8.</span>
								</td>
								<td valign="top" class="votelinks">
									<center>
										<a
											id="up_30785370"
											href="vote?id=30785370&amp;how=up&amp;goto=news"
											><div class="votearrow" title="upvote"></div
										></a>
									</center>
								</td>
								<td class="title">
									<a
										href="http://kylesheldrick.blogspot.com/2022/03/evidence-of-fabricated-data-in-vitamin.html"
										class="titlelink"
										>Evidence of Fabricated Data in a Vitamin C trial by Paul E
										Marik et al.</a
									>
									<span class="sitebit comhead">
										(<a href="from?site=kylesheldrick.blogspot.com"
											><span class="sitestr"
												>kylesheldrick.blogspot.com</span
											></a
										>)
									</span>
								</td>
							</tr>
							<tr>
								<td colspan="2"></td>
								<td class="subtext">
									<span class="score" id="score_30785370">108 points</span> by
									<a href="user?id=DantesKite" class="hnuser">DantesKite</a>
									<span class="age" title="2022-03-24T00:57:42"
										><a href="item?id=30785370">6 hours ago</a></span
									>
									<span id="unv_30785370"></span> |
									<a href="hide?id=30785370&amp;goto=news">hide</a> |
									<a href="item?id=30785370">42&nbsp;comments</a>
								</td>
							</tr>
							<tr class="spacer" style="height: 5px"></tr>
							<tr class="athing" id="30781942">
								<td align="right" valign="top" class="title">
									<span class="rank">29.</span>
								</td>
								<td valign="top" class="votelinks">
									<center>
										<a
											id="up_30781942"
											href="vote?id=30781942&amp;how=up&amp;goto=news"
											><div class="votearrow" title="upvote"></div
										></a>
									</center>
								</td>
								<td class="title">
									<a
										href="https://www.collabora.com/news-and-blog/blog/2022/03/23/how-to-write-vulkan-driver-in-2022/"
										class="titlelink"
										>How to write a Vulkan driver in 2022</a
									>
									<span class="sitebit comhead">
										(<a href="from?site=collabora.com"
											><span class="sitestr">collabora.com</span></a
										>)
									</span>
								</td>
							</tr>
							<tr>
								<td colspan="2"></td>
								<td class="subtext">
									<span class="score" id="score_30781942">98 points</span> by
									<a href="user?id=mfilion" class="hnuser">mfilion</a>
									<span class="age" title="2022-03-23T18:56:38"
										><a href="item?id=30781942">12 hours ago</a></span
									>
									<span id="unv_30781942"></span> |
									<a href="hide?id=30781942&amp;goto=news">hide</a> |
									<a href="item?id=30781942">11&nbsp;comments</a>
								</td>
							</tr>
							<tr class="spacer" style="height: 5px"></tr>
							<tr class="athing" id="30783422">
								<td align="right" valign="top" class="title">
									<span class="rank">30.</span>
								</td>
								<td valign="top" class="votelinks">
									<center>
										<a
											id="up_30783422"
											href="vote?id=30783422&amp;how=up&amp;goto=news"
											><div class="votearrow" title="upvote"></div
										></a>
									</center>
								</td>
								<td class="title">
									<a
										href="http://www.lel.ed.ac.uk/~gpullum/loopsnoop.html"
										class="titlelink"
										>Scooping the Loop Snooper (2000)</a
									>
									<span class="sitebit comhead">
										(<a href="from?site=ed.ac.uk"
											><span class="sitestr">ed.ac.uk</span></a
										>)
									</span>
								</td>
							</tr>
							<tr>
								<td colspan="2"></td>
								<td class="subtext">
									<span class="score" id="score_30783422">47 points</span> by
									<a href="user?id=blewboarwastake" class="hnuser"
										>blewboarwastake</a
									>
									<span class="age" title="2022-03-23T21:10:04"
										><a href="item?id=30783422">9 hours ago</a></span
									>
									<span id="unv_30783422"></span> |
									<a href="hide?id=30783422&amp;goto=news">hide</a> |
									<a href="item?id=30783422">20&nbsp;comments</a>
								</td>
							</tr>
							<tr class="spacer" style="height: 5px"></tr>
							<tr class="morespace" style="height: 10px"></tr>
							<tr>
								<td colspan="2"></td>
								<td class="title">
									<a href="news?p=2" class="morelink" rel="next">More</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<img src="s.gif" height="10" width="0" />
						<table width="100%" cellspacing="0" cellpadding="1">
							<tr>
								<td bgcolor="#ff6600"></td>
							</tr>
						</table>
						<br />
						<center>
							<a href="https://www.ycombinator.com/apply/">
								Applications are open for YC Summer 2022
							</a>
						</center>
						<br />
						<center>
							<span class="yclinks">
								<a href="newsguidelines.html">Guidelines</a> |
								<a href="newsfaq.html">FAQ</a> | <a href="lists">Lists</a> |
								<a href="https://github.com/HackerNews/API">API</a> |
								<a href="security.html">Security</a> |
								<a href="http://www.ycombinator.com/legal/">Legal</a> |
								<a href="http://www.ycombinator.com/apply/">Apply to YC</a> |
								<a href="mailto:hn@ycombinator.com">Contact</a>
							</span>
							<br />
							<br />
							<form method="get" action="//hn.algolia.com/">
								Search:
								<input
									type="text"
									name="q"
									value=""
									size="17"
									autocorrect="off"
									spellcheck="false"
									autocapitalize="off"
									autocomplete="false"
								/>
							</form>
						</center>
					</td>
				</tr>
			</table>
		</center>
	</body>
	<script type="text/javascript" src="hn.js?QZejSKY7mNWXnObVdaSN"></script>
</html>
