{% load static %}
{% load hackernews_extras %}
{% load account %}
<html lang="en" op="news">
	<head>
		<meta name="referrer" content="origin" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static "css/news.css" %}" />
		<link rel="shortcut icon" href="/static/gif/y18.gif" />
		<link rel="alternate" type="application/rss+xml" title="RSS" href="rss" />
		<title>Hacker News</title>
	</head>
	<body>
		<center>
			<table
				id="hnmain"
				border="0"
				cellpadding="0"
				cellspacing="0"
				width="85%"
				bgcolor="#f6f6ef"
			>
				<tr>
					<td bgcolor="#ff6600">
						<table
							border="0"
							cellpadding="0"
							cellspacing="0"
							width="100%"
							style="padding: 2px"
						>
							<tr>
								<td style="width: 18px; padding-right: 4px">
									<a href="../"
										><img
											src="/static/gif/y18.gif"
											width="18"
											height="18"
											style="border: 1px white solid"
									/></a>
								</td>
								<td style="line-height: 12pt; height: 10px">
									<span class="pagetop">
										<b class="hnname"><a href="{% url 'news' %}">Hacker News</a></b>
										<a href="{% url 'newest' %}">new</a> |
										{% if request.user.is_authenticated %}
                    					<a href="{% url 'threads' user.username %}">threads</a> |
										{% endif %}
										<a href="{% url 'ask' %}">ask</a> |
										<a href="{% url 'submit' %}">submit</a>
										{% if title %}
										|
										<font color="#ffffff"> {{ title }}</font>
										{% endif %}
									</span>
								</td>
								<td style="text-align: right; padding-right: 4px">
									<span class="pagetop">
										{% if request.user.is_authenticated %}
										<a id="me" href="{% url 'user' user.username %}">{{user.username}}</a>
										<span id="karma">({{user.karma}})</span> |
										<a id="logout" href="{% url 'logout' %}">logout</a>
										{% else %}
										<a href="{% url 'login' %}">login</a>
										{% endif %}
									</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr id="pagespace" title="" style="height: 10px"></tr>
				<tr>
					<td>
                        <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                            {% if submissions_list %}
                                {% for submission in submissions_list %}
									{% with upvotesId|isUpvoted:submission.id as alreadyUpvoted %}  									
										<td align="right" valign="top" class="title">
											<span class="rank">{{ forloop.counter }}. </span>
										</td>
										<td valign="top" class="votelinks">
											{% if not alreadyUpvoted %}					
												<a
													id="up_{{ submission.id }}"
													href="vote/{{ submission.id }}"
													>
													<div class="votearrow" title="upvote"></div>
												</a>
											{% endif %}
										</td>
										<td class="title">
											{% if "url" == submission.type %}
											<a
												href="{{ submission.url }}"
												class="titlelink"
												>{{ submission.title }}</a
											>
											<span class="sitebit comhead">
												(<a href="{{ submission.url }}"
													><span class="sitestr">{{ submission.url_domain }}</span></a
												>)
											</span>
											{% else %}
											<a
												href="{% url 'detailedSubmission' submission.id %}"
												class="titlelink"
												>{{ submission.title }}</a
											>
											{% endif %}
										</td>
										<tr>
											<td colspan="2"></td>
											<td class="subtext">
												<span class="score" id="score_{{ submission.id }}">{{ submission.upvotes.count }} points </span> by
												<a href="{% url 'user' submission.author %}">{{ submission.author }}</a>
												<span class="age" title="2022-03-23T23:36:00">
													<a href="item/{{ submission.id }}">{{ submission.age }}</a>
												</span>|
												{% if alreadyUpvoted %}
												<a id="un_{{ submission.id }}" class="clicky" href="unvote/{{ submission.id }}">unvote</a> |
												{% endif %}

												<a href="hide?id={{ submission.id }}&amp;goto=news">hide</a>|
												<a href="{% url 'detailedSubmission' submission.id %}">{{ submission.comment_set.count }}&nbsp;comments</a>
											</td>
										</tr>
										<tr class="spacer" style="height: 5px"></tr>
									{% endwith %}
                                {% endfor %}
                            </tr>
                            {% else %}
                            <p>No submissions available.</p>
                            {% endif %}
						</table>
					</td>
				</tr>
			</table>
		</center>
	</body>
</html>
