{% load static %}
{% load hackernews_extras %}
<html lang="en" op="favorites">
	<head>
		<meta name="referrer" content="origin" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}" />
		<link rel="shortcut icon" href="/static/gif/y18.gif" />
		<title>upvoted | Hacker News</title>
	</head>
	<body>
		<center>
			<table
				id="hnmain"
				border="0"
				cellpadding="0"
				cellspacing="0"
				width="85%"
				bgcolor="#f6f6ef"
			>
				<tr>
					<td bgcolor="#ff6600">
						<table
							border="0"
							cellpadding="0"
							cellspacing="0"
							width="100%"
							style="padding: 2px"
						>
							<tr>
								<td style="width: 18px; padding-right: 4px">
									<a href="../"
										><img
											src="/static/gif/y18.gif"
											width="18"
											height="18"
											style="border: 1px white solid"
									/></a>
								</td>
								<td style="line-height: 12pt; height: 10px">
									<span class="pagetop">
										<b class="hnname"><a href="{% url 'news' %}">Hacker News</a></b>
										<a href="{% url 'newest' %}">new</a> |
                    					<a href="{% url 'threads' user.username %}">threads</a> |
										{% yesterday as the_time %}
										<a href="{% url 'newsDate' the_time %}">past</a> |
										<a href="{% url 'newest' %}">comments</a> |
										<a href="{% url 'ask' %}">ask</a> |
										<a href="{% url 'newest' %}">show</a> |
										<a href="{% url 'newest' %}">jobs</a> |
										<a href="{% url 'submit' %}">submit</a> |
										<font color="#ffffff">upvoted</font>
									</span>
								</td>
								<td style="text-align: right; padding-right: 4px">
									<span class="pagetop">
										<a id="me" href="{{user.username}}">{{user.username}}</a>
										<span id="karma">({{user.karma}})</span> |
										<a
											id="logout"
											href="logout?auth=51f8c506bb11bff38a0dd6629fb3db0521534dca&amp;goto=favorites%3Fid%3DMakisH"
											>logout</a
										>
									</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				{% if upvotes %}
					{% with upvotes|first as v1 %}
					{% if v1.content_type.model == "submission" %}
						<tr
							id="pagespace"
							title="Upvoted submissions"
							style="height: 10px"
						></tr>
						<tr>
							<td>
								<table border="0" cellpadding="0" cellspacing="0" class="itemlist">
									{% for upvote in upvotes %}
										<tr class="athing" id="{{ upvote.content_object.id }}">
											<td align="right" valign="top" class="title">
												<span class="rank">{{ forloop.counter }}.</span>
											</td>
											<td valign="top" class="votelinks">
												<center>
													<a id="up_{{ upvote.content_object.id }}" class="clicky nosee" href="vote?id=31061604&amp;how=up&amp;auth=19deddabdf5eebe190b2bd9b224129db19d1b040&amp;goto=upvoted%3Fid%3Duser1">
														<div class="votearrow" title="upvote"></div>
													</a>
												</center>
											</td>
											<td class="title">
												<a href="{{ upvote.content_object.url }}" class="titlelink" rel="nofollow">
													{{ upvote.content_object.title }}
												</a>
												<span class="sitebit comhead">
													(<a href="https://www.{{ upvote.content_object.url }}"><span class="sitestr">{{ upvote.content_object.url_domain }}</span></a>)
												</span>
											</td>
										</tr>
										<tr>
											<td colspan="2"></td>
											<td class="subtext">
												<span class="score" id="score_{{ upvote.content_object.upvotes }}">{{ upvote.content_object.upvotes.count }} points</span> by
												<a href="{% url 'user' upvote.user %}" class="hnuser">{{ upvote.user.username }}</a>
												<span class="age" title="{{ upvote.date }}">
													<a href="item?id=31061604">{{ upvote.content_object.age }}</a>
												</span>
												<span id="unv_{{ upvote.content_object.id }}"> | 
													<a id="un_31061604" class="clicky" href="vote?id=31061604&amp;how=un&amp;auth=19deddabdf5eebe190b2bd9b224129db19d1b040&amp;goto=upvoted%3Fid%3Duser">unvote</a>
												</span> |
												<a href="item?id=31061604">{{ upvote.content_object.comment_set.count }} comments</a>
											</td>
										</tr>
										<tr class="spacer" style="height: 5px;"></tr>
									{% endfor %}
										<p>{{ user.username }} hasn't added any favorite submissions yet.</p>
										<p>
											To add one to your own favorites, click on its timestamp to
											go to its page, then click 'favorite' at the top.
										</p>
									<tr style="height: 6px"></tr>
									<tr>
										<td colspan="2">&nbsp;&nbsp;&nbsp;</td>
									</tr>
									<tr style="height: 12px"></tr>
								</table>
							</td>
						</tr>
					{% else %}
						<tr
							id="pagespace"
							title="Upvoted comments"
							style="height: 10px"
						></tr>
						<tr>
							<td>
								<table border="0" cellpadding="0" cellspacing="0" class="itemlist">
									{% for upvote in upvotes %}
										<tr class="athing" id="{{ upvote.content_object.id }}">
											<td class="ind"></td>
											<td valign="top" class="votelinks">
												<center>
													<a id="up_{{ upvote.content_object.id }}" class="clicky nosee" href="vote?id=31061604&amp;how=up&amp;auth=19deddabdf5eebe190b2bd9b224129db19d1b040&amp;goto=upvoted%3Fid%3Duser1">
														<div class="votearrow" title="upvote"></div>
													</a>
												</center>
											</td>
											<td class="default">
												<div style="margin-top: 2px; margin-bottom: -10px;">
													<span class="comhead">
														<a href="{% url 'user' upvote.user %}" class="hnuser">{{ upvote.user.username }}</a>
														<span class="age" title="{{ upvote.content_object.posted_at_date }} {{ upvote.content_object.posted_at_time }}">
															<a href="item?id=31061604">on {{ upvote.content_object.posted_at_date }}</a>
														</span>
														<span class="navs"> | 
															<a href="item?id=31061604">parent</a> |
															<a href="item?id=31061604" rel="nofollow">context</a>
														</span>
														<span class="onstory"> | on:
															<a href="item?id=31061604">{{ upvote.content_object.submission.title }}</a>
														</span>
													</span>
												</div>
												<br />
												<div class="comment">
													{{ upvote.content_object.text }}
												</div>
											</td>
										</tr>
										<tr class="spacer" style="height: 5px;"></tr>
									{% endfor %}
								</table>
							</td>
						</tr>
					{% endif %}
					{% endwith %}
				{% endif %}
				<tr>
					<td>
						<img src="s.gif" height="10" width="0" />
						<table width="100%" cellspacing="0" cellpadding="1">
							<tr>
								<td bgcolor="#ff6600"></td>
							</tr>
						</table>
						<br />
						<center>
							<a href="https://www.ycombinator.com/apply/">
								Applications are open for YC Summer 2022
							</a>
						</center>
						<br />
						<center>
							<span class="yclinks">
								<a href="newsguidelines.html">Guidelines</a> |
								<a href="newsfaq.html">FAQ</a> | <a href="lists">Lists</a> |
								<a href="https://github.com/HackerNews/API">API</a> |
								<a href="security.html">Security</a> |
								<a href="http://www.ycombinator.com/legal/">Legal</a> |
								<a href="http://www.ycombinator.com/apply/">Apply to YC</a> |
								<a href="mailto:hn@ycombinator.com">Contact</a>
							</span>
							<br />
							<br />
							<form method="get" action="//hn.algolia.com/">
								Search:
								<input
									type="text"
									name="q"
									value=""
									size="17"
									autocorrect="off"
									spellcheck="false"
									autocapitalize="off"
									autocomplete="false"
								/>
							</form>
						</center>
					</td>
				</tr>
			</table>
		</center>
	</body>
	<script type="text/javascript" src="hn.js?i4TQZuXi2HAlGL9DtNAH"></script>
</html>
